.layui-field-title{
    margin: 10px 0 0px;
    border-width: 0;
    border-top-width: 1px;    
    /*margin-top: -50px;*/
    /*padding-top:68px;*/
    
}

/*卡片内容超长截断*/
.layui-card-header{
    overflow:hidden;
    text-overflow:ellipsis; 
    white-space:nowrap;
}

.cat-title{
    margin-top: -50px;
    padding-top:68px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    padding-left: 1em;
}

